table,
td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}
form{
    text-align: center;
    margin: 0 auto; 
}

img {
    width: 100px;
    height: 100px;
}
.error {
    color: red;
    text-align: center;
    align-items: center;
}
